{
    "version": 1,
    "minor_version": 1,
    "key": "core.config",
    "data": {
        "latitude": 37.37634577351575,
        "longitude": 126.85432076475993,
        "elevation": 50,
        "unit_system": "metric",
        "location_name": "\uc9d1",
        "time_zone": "Asia/Seoul",
        "external_url": null,
        "internal_url": null,
        "currency": "KRW"
    }
}